openapi: 3.1.0
info:
  title: Puerta Abierta API
  version: 1.0.0
  summary: STR operations API for Paraguay-focused owners and operators
  description: |
    REST API contract for multi-tenant short-term rental operations:
    organizations, properties, reservations, tasks, finance, and reporting.
servers:
  - url: https://api.puertaabierta.app/v1
    description: Production
  - url: http://localhost:3000/v1
    description: Local development
tags:
  - name: System
  - name: Identity
  - name: Organizations
  - name: Properties
  - name: Units
  - name: Channels
  - name: Listings
  - name: Guests
  - name: Reservations
  - name: Calendar
  - name: Tasks
  - name: Expenses
  - name: Owner Statements
  - name: Messaging
  - name: Reports
  - name: Webhooks
security:
  - bearerAuth: []
paths:
  /health:
    get:
      tags: [System]
      summary: Health check
      security: []
      responses:
        "200":
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  now:
                    type: string
                    format: date-time
                required: [status, now]

  /me:
    get:
      tags: [Identity]
      summary: Current authenticated user context
      responses:
        "200":
          description: User profile and memberships
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /organizations:
    get:
      tags: [Organizations]
      summary: List organizations for current user
      responses:
        "200":
          description: Organization list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Organization"
                required: [data]
    post:
      tags: [Organizations]
      summary: Create organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationInput"
      responses:
        "201":
          description: Organization created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400":
          $ref: "#/components/responses/BadRequest"

  /organizations/{org_id}:
    get:
      tags: [Organizations]
      summary: Get organization by id
      parameters:
        - $ref: "#/components/parameters/OrgIdPath"
      responses:
        "200":
          description: Organization detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Organizations]
      summary: Update organization
      parameters:
        - $ref: "#/components/parameters/OrgIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationInput"
      responses:
        "200":
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "403":
          $ref: "#/components/responses/Forbidden"

  /organizations/{org_id}/members:
    get:
      tags: [Organizations]
      summary: List organization members
      parameters:
        - $ref: "#/components/parameters/OrgIdPath"
      responses:
        "200":
          description: Member list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrganizationMember"
                required: [data]
    post:
      tags: [Organizations]
      summary: Add organization member
      parameters:
        - $ref: "#/components/parameters/OrgIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddOrganizationMemberInput"
      responses:
        "201":
          description: Member added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationMember"
        "403":
          $ref: "#/components/responses/Forbidden"

  /properties:
    get:
      tags: [Properties]
      summary: List properties
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/PropertyStatus"
      responses:
        "200":
          description: Property list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Property"
                required: [data]
    post:
      tags: [Properties]
      summary: Create property
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePropertyInput"
      responses:
        "201":
          description: Property created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Property"

  /properties/{property_id}:
    get:
      tags: [Properties]
      summary: Get property by id
      parameters:
        - $ref: "#/components/parameters/PropertyIdPath"
      responses:
        "200":
          description: Property detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Property"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Properties]
      summary: Update property
      parameters:
        - $ref: "#/components/parameters/PropertyIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePropertyInput"
      responses:
        "200":
          description: Property updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Property"

  /units:
    get:
      tags: [Units]
      summary: List units
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: property_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Unit list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Unit"
                required: [data]
    post:
      tags: [Units]
      summary: Create unit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUnitInput"
      responses:
        "201":
          description: Unit created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"

  /units/{unit_id}:
    get:
      tags: [Units]
      summary: Get unit by id
      parameters:
        - $ref: "#/components/parameters/UnitIdPath"
      responses:
        "200":
          description: Unit detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Units]
      summary: Update unit
      parameters:
        - $ref: "#/components/parameters/UnitIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUnitInput"
      responses:
        "200":
          description: Unit updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"

  /channels:
    get:
      tags: [Channels]
      summary: List channels
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
      responses:
        "200":
          description: Channel list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Channel"
                required: [data]
    post:
      tags: [Channels]
      summary: Create channel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChannelInput"
      responses:
        "201":
          description: Channel created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"

  /listings:
    get:
      tags: [Listings]
      summary: List listings
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: unit_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Listing list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Listing"
                required: [data]
    post:
      tags: [Listings]
      summary: Create listing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateListingInput"
      responses:
        "201":
          description: Listing created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"

  /listings/{listing_id}/sync-ical:
    post:
      tags: [Listings]
      summary: Trigger iCal sync for listing
      parameters:
        - $ref: "#/components/parameters/ListingIdPath"
      responses:
        "202":
          description: Sync queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [queued]
                required: [status]

  /guests:
    get:
      tags: [Guests]
      summary: List guests
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: q
          in: query
          description: Search by name/email/phone
          schema:
            type: string
      responses:
        "200":
          description: Guest list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Guest"
                required: [data]
    post:
      tags: [Guests]
      summary: Create guest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGuestInput"
      responses:
        "201":
          description: Guest created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Guest"

  /guests/{guest_id}:
    get:
      tags: [Guests]
      summary: Get guest by id
      parameters:
        - $ref: "#/components/parameters/GuestIdPath"
      responses:
        "200":
          description: Guest detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Guest"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Guests]
      summary: Update guest
      parameters:
        - $ref: "#/components/parameters/GuestIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGuestInput"
      responses:
        "200":
          description: Guest updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Guest"

  /reservations:
    get:
      tags: [Reservations]
      summary: List reservations
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: unit_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/ReservationStatus"
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Reservation list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Reservation"
                required: [data]
    post:
      tags: [Reservations]
      summary: Create reservation
      description: |
        Creates a reservation. API must enforce no overlapping active reservations
        for the same unit (`pending`, `confirmed`, `checked_in`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReservationInput"
      responses:
        "201":
          description: Reservation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
        "409":
          description: Overlap or duplicate external reservation id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /reservations/{reservation_id}:
    get:
      tags: [Reservations]
      summary: Get reservation by id
      parameters:
        - $ref: "#/components/parameters/ReservationIdPath"
      responses:
        "200":
          description: Reservation detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Reservations]
      summary: Update reservation
      parameters:
        - $ref: "#/components/parameters/ReservationIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateReservationInput"
      responses:
        "200":
          description: Reservation updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"

  /reservations/{reservation_id}/status:
    post:
      tags: [Reservations]
      summary: Transition reservation status
      parameters:
        - $ref: "#/components/parameters/ReservationIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: "#/components/schemas/ReservationStatus"
                reason:
                  type: string
              required: [status]
      responses:
        "200":
          description: Status transitioned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reservation"
        "422":
          description: Invalid transition
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /calendar/availability:
    get:
      tags: [Calendar]
      summary: Unit availability window
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: unit_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Availability response
          content:
            application/json:
              schema:
                type: object
                properties:
                  unit_id:
                    type: string
                    format: uuid
                  from:
                    type: string
                    format: date
                  to:
                    type: string
                    format: date
                  unavailable_periods:
                    type: array
                    items:
                      $ref: "#/components/schemas/DateRange"
                required: [unit_id, from, to, unavailable_periods]

  /calendar/blocks:
    get:
      tags: [Calendar]
      summary: List calendar blocks
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: unit_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Block list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CalendarBlock"
                required: [data]
    post:
      tags: [Calendar]
      summary: Create calendar block
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCalendarBlockInput"
      responses:
        "201":
          description: Block created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarBlock"
        "409":
          description: Block overlaps existing block
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /tasks:
    get:
      tags: [Tasks]
      summary: List tasks
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/TaskStatus"
        - name: assigned_user_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Task list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Task"
                required: [data]
    post:
      tags: [Tasks]
      summary: Create task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTaskInput"
      responses:
        "201":
          description: Task created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"

  /tasks/{task_id}:
    get:
      tags: [Tasks]
      summary: Get task by id
      parameters:
        - $ref: "#/components/parameters/TaskIdPath"
      responses:
        "200":
          description: Task detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Tasks]
      summary: Update task
      parameters:
        - $ref: "#/components/parameters/TaskIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaskInput"
      responses:
        "200":
          description: Task updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"

  /tasks/{task_id}/complete:
    post:
      tags: [Tasks]
      summary: Complete task
      parameters:
        - $ref: "#/components/parameters/TaskIdPath"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                completion_notes:
                  type: string
      responses:
        "200":
          description: Task marked done
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"

  /expenses:
    get:
      tags: [Expenses]
      summary: List expenses
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: category
          in: query
          schema:
            $ref: "#/components/schemas/ExpenseCategory"
      responses:
        "200":
          description: Expense list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Expense"
                required: [data]
    post:
      tags: [Expenses]
      summary: Create expense
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExpenseInput"
      responses:
        "201":
          description: Expense created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Expense"

  /owner-statements:
    get:
      tags: [Owner Statements]
      summary: List owner statements
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/StatementStatus"
      responses:
        "200":
          description: Statement list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OwnerStatement"
                required: [data]
    post:
      tags: [Owner Statements]
      summary: Generate draft owner statement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOwnerStatementInput"
      responses:
        "201":
          description: Statement created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnerStatement"

  /owner-statements/{statement_id}:
    get:
      tags: [Owner Statements]
      summary: Get owner statement by id
      parameters:
        - $ref: "#/components/parameters/StatementIdPath"
      responses:
        "200":
          description: Statement detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnerStatement"
        "404":
          $ref: "#/components/responses/NotFound"

  /owner-statements/{statement_id}/finalize:
    post:
      tags: [Owner Statements]
      summary: Finalize owner statement
      parameters:
        - $ref: "#/components/parameters/StatementIdPath"
      responses:
        "200":
          description: Statement finalized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnerStatement"

  /message-templates:
    get:
      tags: [Messaging]
      summary: List message templates
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: channel
          in: query
          schema:
            $ref: "#/components/schemas/MessageChannel"
      responses:
        "200":
          description: Template list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MessageTemplate"
                required: [data]
    post:
      tags: [Messaging]
      summary: Create message template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMessageTemplateInput"
      responses:
        "201":
          description: Template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageTemplate"

  /messages/send:
    post:
      tags: [Messaging]
      summary: Queue outbound message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageInput"
      responses:
        "202":
          description: Message queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageLog"

  /reports/owner-summary:
    get:
      tags: [Reports]
      summary: Owner summary report
      parameters:
        - $ref: "#/components/parameters/OrgIdQuery"
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: property_id
          in: query
          schema:
            type: string
            format: uuid
        - name: unit_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Summary metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnerSummaryReport"

  /webhooks/{provider}:
    post:
      tags: [Webhooks]
      summary: Inbound provider webhook
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [airbnb, bookingcom, whatsapp, other]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "202":
          description: Event accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [accepted]
                required: [status]

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    OrgIdPath:
      name: org_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    OrgIdQuery:
      name: org_id
      in: query
      required: true
      schema:
        type: string
        format: uuid
    PropertyIdPath:
      name: property_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    UnitIdPath:
      name: unit_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ListingIdPath:
      name: listing_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    GuestIdPath:
      name: guest_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ReservationIdPath:
      name: reservation_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    TaskIdPath:
      name: task_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    StatementIdPath:
      name: statement_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Not authorized for this resource
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    UUID:
      type: string
      format: uuid
    Currency:
      type: string
      enum: [PYG, USD]
    MemberRole:
      type: string
      enum: [owner_admin, operator, cleaner, accountant, viewer]
    PropertyStatus:
      type: string
      enum: [active, inactive]
    ChannelKind:
      type: string
      enum: [airbnb, bookingcom, direct, vrbo, other]
    ReservationStatus:
      type: string
      enum: [pending, confirmed, checked_in, checked_out, cancelled, no_show]
    TaskType:
      type: string
      enum: [cleaning, maintenance, check_in, check_out, inspection, custom]
    TaskStatus:
      type: string
      enum: [todo, in_progress, done, cancelled]
    PriorityLevel:
      type: string
      enum: [low, medium, high, urgent]
    ExpenseCategory:
      type: string
      enum: [cleaning, maintenance, utilities, supplies, platform_fee, tax, staff, other]
    PaymentMethod:
      type: string
      enum: [bank_transfer, cash, card, qr, other]
    StatementStatus:
      type: string
      enum: [draft, finalized, sent, paid]
    MessageChannel:
      type: string
      enum: [whatsapp, email, sms]
    MessageStatus:
      type: string
      enum: [queued, sent, failed]
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
      required: [error, message]
    User:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        email:
          type: string
          format: email
        full_name:
          type: string
        phone_e164:
          type: string
          nullable: true
      required: [id, email, full_name]
    Organization:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        name:
          type: string
        legal_name:
          type: string
          nullable: true
        ruc:
          type: string
          nullable: true
        default_currency:
          $ref: "#/components/schemas/Currency"
        timezone:
          type: string
        country_code:
          type: string
        owner_user_id:
          $ref: "#/components/schemas/UUID"
        created_at:
          type: string
          format: date-time
      required: [id, name, default_currency, timezone, owner_user_id, created_at]
    OrganizationMember:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        user_id:
          $ref: "#/components/schemas/UUID"
        role:
          $ref: "#/components/schemas/MemberRole"
        is_primary:
          type: boolean
        joined_at:
          type: string
          format: date-time
      required: [organization_id, user_id, role, joined_at]
    Property:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        name:
          type: string
        code:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/PropertyStatus"
        city:
          type: string
        country_code:
          type: string
      required: [id, organization_id, name, status, city, country_code]
    Unit:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        property_id:
          $ref: "#/components/schemas/UUID"
        code:
          type: string
        name:
          type: string
        max_guests:
          type: integer
        bedrooms:
          type: integer
        bathrooms:
          type: number
        currency:
          $ref: "#/components/schemas/Currency"
        is_active:
          type: boolean
      required:
        [id, organization_id, property_id, code, name, max_guests, bedrooms, bathrooms, currency, is_active]
    Channel:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        kind:
          $ref: "#/components/schemas/ChannelKind"
        name:
          type: string
        is_active:
          type: boolean
      required: [id, organization_id, kind, name, is_active]
    Listing:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        unit_id:
          $ref: "#/components/schemas/UUID"
        channel_id:
          $ref: "#/components/schemas/UUID"
        external_listing_id:
          type: string
          nullable: true
        public_name:
          type: string
        ical_import_url:
          type: string
          format: uri
          nullable: true
        is_active:
          type: boolean
      required: [id, organization_id, unit_id, channel_id, public_name, is_active]
    Guest:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        full_name:
          type: string
        email:
          type: string
          format: email
          nullable: true
        phone_e164:
          type: string
          nullable: true
      required: [id, organization_id, full_name]
    Reservation:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        unit_id:
          $ref: "#/components/schemas/UUID"
        listing_id:
          $ref: "#/components/schemas/UUID"
          nullable: true
        channel_id:
          $ref: "#/components/schemas/UUID"
          nullable: true
        guest_id:
          $ref: "#/components/schemas/UUID"
          nullable: true
        external_reservation_id:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/ReservationStatus"
        source:
          type: string
        check_in_date:
          type: string
          format: date
        check_out_date:
          type: string
          format: date
        adults:
          type: integer
        children:
          type: integer
        infants:
          type: integer
        pets:
          type: integer
        currency:
          $ref: "#/components/schemas/Currency"
        total_amount:
          type: number
        amount_paid:
          type: number
        owner_payout_estimate:
          type: number
      required:
        [id, organization_id, unit_id, status, source, check_in_date, check_out_date, currency, total_amount, amount_paid, owner_payout_estimate]
    DateRange:
      type: object
      properties:
        from:
          type: string
          format: date
        to:
          type: string
          format: date
      required: [from, to]
    CalendarBlock:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        unit_id:
          $ref: "#/components/schemas/UUID"
        source:
          type: string
        starts_on:
          type: string
          format: date
        ends_on:
          type: string
          format: date
        reason:
          type: string
          nullable: true
      required: [id, organization_id, unit_id, source, starts_on, ends_on]
    Task:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        reservation_id:
          $ref: "#/components/schemas/UUID"
          nullable: true
        assigned_user_id:
          $ref: "#/components/schemas/UUID"
          nullable: true
        type:
          $ref: "#/components/schemas/TaskType"
        status:
          $ref: "#/components/schemas/TaskStatus"
        priority:
          $ref: "#/components/schemas/PriorityLevel"
        title:
          type: string
        description:
          type: string
          nullable: true
        due_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
      required: [id, organization_id, type, status, priority, title]
    Expense:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        category:
          $ref: "#/components/schemas/ExpenseCategory"
        expense_date:
          type: string
          format: date
        amount:
          type: number
        currency:
          $ref: "#/components/schemas/Currency"
        payment_method:
          $ref: "#/components/schemas/PaymentMethod"
        invoice_number:
          type: string
          nullable: true
        invoice_ruc:
          type: string
          nullable: true
      required: [id, organization_id, category, expense_date, amount, currency, payment_method]
    OwnerStatement:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        currency:
          $ref: "#/components/schemas/Currency"
        gross_revenue:
          type: number
        platform_fees:
          type: number
        taxes_collected:
          type: number
        operating_expenses:
          type: number
        net_payout:
          type: number
        status:
          $ref: "#/components/schemas/StatementStatus"
      required:
        [id, organization_id, period_start, period_end, currency, gross_revenue, platform_fees, taxes_collected, operating_expenses, net_payout, status]
    MessageTemplate:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        template_key:
          type: string
        name:
          type: string
        channel:
          $ref: "#/components/schemas/MessageChannel"
        language_code:
          type: string
        subject:
          type: string
          nullable: true
        body:
          type: string
        variables:
          type: array
          items:
            type: string
        is_active:
          type: boolean
      required:
        [id, organization_id, template_key, name, channel, language_code, body, variables, is_active]
    MessageLog:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/UUID"
        organization_id:
          $ref: "#/components/schemas/UUID"
        reservation_id:
          $ref: "#/components/schemas/UUID"
          nullable: true
        guest_id:
          $ref: "#/components/schemas/UUID"
          nullable: true
        channel:
          $ref: "#/components/schemas/MessageChannel"
        recipient:
          type: string
        status:
          $ref: "#/components/schemas/MessageStatus"
        scheduled_at:
          type: string
          format: date-time
          nullable: true
      required: [id, organization_id, channel, recipient, status]
    OwnerSummaryReport:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        occupancy_rate:
          type: number
          description: Value from 0 to 1
        gross_revenue:
          type: number
        expenses:
          type: number
        net_payout:
          type: number
      required: [organization_id, from, to, occupancy_rate, gross_revenue, expenses, net_payout]
    CreateOrganizationInput:
      type: object
      properties:
        name:
          type: string
        legal_name:
          type: string
        ruc:
          type: string
        default_currency:
          $ref: "#/components/schemas/Currency"
        timezone:
          type: string
      required: [name]
    UpdateOrganizationInput:
      type: object
      properties:
        name:
          type: string
        legal_name:
          type: string
        ruc:
          type: string
        default_currency:
          $ref: "#/components/schemas/Currency"
        timezone:
          type: string
    AddOrganizationMemberInput:
      type: object
      properties:
        user_id:
          $ref: "#/components/schemas/UUID"
        role:
          $ref: "#/components/schemas/MemberRole"
      required: [user_id, role]
    CreatePropertyInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        name:
          type: string
        code:
          type: string
        status:
          $ref: "#/components/schemas/PropertyStatus"
        address_line1:
          type: string
        city:
          type: string
      required: [organization_id, name]
    UpdatePropertyInput:
      type: object
      properties:
        name:
          type: string
        status:
          $ref: "#/components/schemas/PropertyStatus"
        address_line1:
          type: string
        city:
          type: string
    CreateUnitInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        property_id:
          $ref: "#/components/schemas/UUID"
        code:
          type: string
        name:
          type: string
        max_guests:
          type: integer
        bedrooms:
          type: integer
        bathrooms:
          type: number
        currency:
          $ref: "#/components/schemas/Currency"
      required: [organization_id, property_id, code, name]
    UpdateUnitInput:
      type: object
      properties:
        name:
          type: string
        max_guests:
          type: integer
        bedrooms:
          type: integer
        bathrooms:
          type: number
        is_active:
          type: boolean
    CreateChannelInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        kind:
          $ref: "#/components/schemas/ChannelKind"
        name:
          type: string
      required: [organization_id, kind, name]
    CreateListingInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        unit_id:
          $ref: "#/components/schemas/UUID"
        channel_id:
          $ref: "#/components/schemas/UUID"
        external_listing_id:
          type: string
        public_name:
          type: string
        ical_import_url:
          type: string
          format: uri
      required: [organization_id, unit_id, channel_id, public_name]
    CreateGuestInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        full_name:
          type: string
        email:
          type: string
          format: email
        phone_e164:
          type: string
      required: [organization_id, full_name]
    UpdateGuestInput:
      type: object
      properties:
        full_name:
          type: string
        email:
          type: string
          format: email
        phone_e164:
          type: string
        notes:
          type: string
    CreateReservationInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        unit_id:
          $ref: "#/components/schemas/UUID"
        listing_id:
          $ref: "#/components/schemas/UUID"
        channel_id:
          $ref: "#/components/schemas/UUID"
        guest_id:
          $ref: "#/components/schemas/UUID"
        external_reservation_id:
          type: string
        source:
          type: string
          default: manual
        check_in_date:
          type: string
          format: date
        check_out_date:
          type: string
          format: date
        adults:
          type: integer
        children:
          type: integer
        infants:
          type: integer
        pets:
          type: integer
        currency:
          $ref: "#/components/schemas/Currency"
        nightly_rate:
          type: number
        cleaning_fee:
          type: number
        tax_amount:
          type: number
        extra_fees:
          type: number
        discount_amount:
          type: number
        total_amount:
          type: number
        payment_method:
          $ref: "#/components/schemas/PaymentMethod"
        notes:
          type: string
      required:
        [organization_id, unit_id, check_in_date, check_out_date, total_amount]
    UpdateReservationInput:
      type: object
      properties:
        guest_id:
          $ref: "#/components/schemas/UUID"
        status:
          $ref: "#/components/schemas/ReservationStatus"
        payment_method:
          $ref: "#/components/schemas/PaymentMethod"
        amount_paid:
          type: number
        notes:
          type: string
    CreateCalendarBlockInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        unit_id:
          $ref: "#/components/schemas/UUID"
        starts_on:
          type: string
          format: date
        ends_on:
          type: string
          format: date
        reason:
          type: string
      required: [organization_id, unit_id, starts_on, ends_on]
    CreateTaskInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        property_id:
          $ref: "#/components/schemas/UUID"
        unit_id:
          $ref: "#/components/schemas/UUID"
        reservation_id:
          $ref: "#/components/schemas/UUID"
        assigned_user_id:
          $ref: "#/components/schemas/UUID"
        type:
          $ref: "#/components/schemas/TaskType"
        priority:
          $ref: "#/components/schemas/PriorityLevel"
        title:
          type: string
        description:
          type: string
        due_at:
          type: string
          format: date-time
      required: [organization_id, title]
    UpdateTaskInput:
      type: object
      properties:
        assigned_user_id:
          $ref: "#/components/schemas/UUID"
        status:
          $ref: "#/components/schemas/TaskStatus"
        priority:
          $ref: "#/components/schemas/PriorityLevel"
        title:
          type: string
        description:
          type: string
        due_at:
          type: string
          format: date-time
    CreateExpenseInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        property_id:
          $ref: "#/components/schemas/UUID"
        unit_id:
          $ref: "#/components/schemas/UUID"
        reservation_id:
          $ref: "#/components/schemas/UUID"
        category:
          $ref: "#/components/schemas/ExpenseCategory"
        vendor_name:
          type: string
        expense_date:
          type: string
          format: date
        amount:
          type: number
        currency:
          $ref: "#/components/schemas/Currency"
        fx_rate_to_pyg:
          type: number
        payment_method:
          $ref: "#/components/schemas/PaymentMethod"
        invoice_number:
          type: string
        invoice_ruc:
          type: string
        receipt_url:
          type: string
          format: uri
        notes:
          type: string
      required: [organization_id, category, expense_date, amount]
    CreateOwnerStatementInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        property_id:
          $ref: "#/components/schemas/UUID"
        unit_id:
          $ref: "#/components/schemas/UUID"
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        currency:
          $ref: "#/components/schemas/Currency"
      required: [organization_id, period_start, period_end]
    CreateMessageTemplateInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        template_key:
          type: string
        name:
          type: string
        channel:
          $ref: "#/components/schemas/MessageChannel"
        language_code:
          type: string
        subject:
          type: string
        body:
          type: string
        variables:
          type: array
          items:
            type: string
      required: [organization_id, template_key, name, channel, body]
    SendMessageInput:
      type: object
      properties:
        organization_id:
          $ref: "#/components/schemas/UUID"
        reservation_id:
          $ref: "#/components/schemas/UUID"
        guest_id:
          $ref: "#/components/schemas/UUID"
        template_id:
          $ref: "#/components/schemas/UUID"
        channel:
          $ref: "#/components/schemas/MessageChannel"
        recipient:
          type: string
        variables:
          type: object
          additionalProperties: true
        scheduled_at:
          type: string
          format: date-time
      required: [organization_id, channel, recipient]
    MeResponse:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/User"
        memberships:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationMember"
      required: [user, memberships]
